<nav class="navbar navbar-dark bg-dark">
  I Love <b style="color: red;">Angular</b> and <b style="color: yellow">Firebase</b>
</nav>

<div class="container jumbotron">
  <div class="row justify-content-center p-2">
    <h1>Employee registration</h1>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="employeeName" placeholder="Enter Employee Name" required>
  </div>
  <div class="form-group">
    <input type="number" class="form-control" [(ngModel)]="employeeAge" placeholder="Enter Employee Age" required>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="employeeAddress" placeholder="Enter Employee Address" required>
  </div>
  <div class="form-group">
    <button (click)="CreateRecord()" class="btn btn-primary"
      [disabled]="!employeeName || !employeeAge || !employeeAddress">Create Employee</button>
  </div>

  <div class="row p-2">
    <div class="col-md-12 justify-content-center p-2">
      <h4>Employee Data Basic</h4>
    </div>
    <table class="table table-dark" *ngFor="let item of employee">

      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Address</th>
        </tr>
      </thead>

      <tbody *ngIf="!item.isEdit; else elseBlock">
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.age }}</td>
          <td>{{ item.address }}
            <span>

              <i (click)="editRecord(item)" class="fas fa-edit fa-lg"></i>
              <i (click)="deleteRecord(item.id)" class="fas fa-trash-alt fa-lg"></i>
            </span>

          </td>
        </tr>
      </tbody>

      <ng-template #elseBlock>

        <tbody *ngFor="let item of employee">
          <tr>
            <td><input type="text" class="form-control" [(ngModel)]="item.editName"></td>
            <td><input type="number" class="form-control" [(ngModel)]="item.editAge"></td>
            <td><input type="text" class="form-control" [(ngModel)]="item.editAddress"></td>
            <span class="edit">
              <i (click)="item.isEdit = false" class="far fa-window-close fa-lg"></i>
              <i (click)="updateRecord(item)" class="fas fa-check-square fa-lg"></i>
            </span>
        </tbody>

      </ng-template>

    </table>
  </div>
</div>

<router-outlet></router-outlet>
